.navLinkIcon {
  font-size: 12px;
  color: #fff;
}

.logoutWrapper {
  position: absolute;
  display: flex;
  text-align: center;
  bottom: 0;
  padding: 10px;
  padding-bottom: 20px;
  padding-left: 50px;
  border-radius: 7px;
  color: #404040;
  transition: 1s background-image ease-in-out, 0.2s color;
}

.baseWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  width: 200px;
  height: 100%;
  padding-bottom: 90px !important;
}

.navSubMenuItem{
  display: flex;
  padding: 10px;
  color: #ffffff;
  padding-left: 25px;
  background-color: #32b4a7;
}
.navSubMenuItem h5{
  padding-left: 15px;
  cursor: pointer;
}

.navLinkWrapper {
  display: flex;
  padding: 14px 15px;
  border-radius: 6px;
  color: #404040;
  font-weight: 400;
  align-items: center;
  transition: 1s background-image ease-in-out, 0.2s color;
}

.icon {
  font-size: 22px !important;
}

.navLinkWrapper:hover {
  background: var(--secondaryGradient);
  color: white;
}
.navLinkWrapper:hover .navLink {
  color: white;
}
.navLinkWrapper:hover .navLinkIcon {
  color: white;
}
.navLink {
  border-radius: 6px;
  margin: 5px;
  color: #404040;
}
.activeNavLink {
  background: var(--secondaryGradient);
  color: white;
}
.activeNavLinkIcon {
  color: white;
}
.navLinkIcon {
  font-size: 20px !important;
} 
.navLinkText {
  padding-left: 15px;
  font-size: 16px;
  font-weight: 300;
  display: grid;
  place-items: center;
}
.subMenuLink {
  padding-left: 15px;
  font-size: 12px;
  display: grid;
  place-items: center;
}
.subMenuLinkIcon {
  font-size: 18px !important;
}