/* cat part */

.carWrapper {
  margin: 1rem 0 1rem 0;
}

.carData {
  padding: 5px;
}
.carInfoContainer {
  padding: 10px 20px !important;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}
.info1 {
  display: flex;
  padding-bottom: 16px;
  padding-left: 15px;
  background-color: transparent;
  border-radius: 8px;
}
.info2 {
  display: flex;
  padding-bottom: 16px;
  padding-left: 15px;
  background-color: #e8f3f1;
  border-radius: 8px;
}
.carUpdate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px !important;
}
.carUpdate button {
  margin-left: 15px;
}

.carName {
  font-weight: 500 !important;
  font-size: 16px !important;
  padding-top: 1rem;
}
.carImg {
  text-align: center;
}
.heading {
  margin: 15px 0 15px 0 !important;
}
.heading span {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}
.imgName {
  display: grid;
  justify-items: center;
  font-size: 16px;
}

@media (min-width: 900px) {
  .carImg {
    min-height: 100%;
    padding-top: 2rem !important;
  }
  .imgSep {
    margin-top: 30px !important;
  }
  .imgName {
    margin-top: 20px !important;
  }
  /* .carInfo {
    min-height: 33.2rem;
  } */
  .carName {
    padding-top: 1rem;
  }
}
