.imageItem {
  position: relative;
  padding: 5px;
  border: 1px solid rgb(170, 167, 167);
}

.layout {
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageWrapper {
  height: fit-content;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cancelIcon {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
  cursor: pointer;
  display: none !important;
  color: var(--btnColor);
}

.imageItem:hover .cancelIcon {
    display: block !important;
}
