.contentWrapper {
    padding: 10px;
  }
  .titleSec {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }
  .menuName {
    font-size: 15px;
    font-weight: 400;
    padding-left: 8px;
    color: gray;
  }
  .changeable {
    background-color: #fff;
    border-top: 1px solid #d2d6de;
    margin-top: 10px;
    border-radius: 5px;
    padding: 13px;
  }
  .searchPart {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-top: 1px solid #d2d6de;
  }
  .link {
    color: rgba(1, 0, 5, 0.9) !important;
  }
  
  .activeLink {
    color: rgba(42, 39, 61, 0.62);
  }
  .secondTitle {
    font-size: 16px;
    font-weight: 400;
  }
  .searchSec {
    padding: 5px;
    margin-left: 20px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 1, 0.1);
  }
  .serachSec:focus-within {
    border-color: black;
  }
  .searchInput {
    border: none;
    width: 80%;
    font-size: 17px;
  }
  .searchInput::placeholder {
    font-size: 15px;
    color: rgba(0, 0, 1, 0.3);
  }
  .searchInput:focus-visible {
    outline: none;
  }
  .searchIcon {
    font-size: 28px;
  }

  .cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .coloredBtn {
    cursor: pointer;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 7px;
    transition: all 0.5s ease;
    background: linear-gradient(90deg, rgb(0, 205, 184) 0%, rgba(2, 202, 188, 0.746) 100%);
  }
  .coloredBtn:hover {
    background: linear-gradient(90deg, rgb(1, 189, 170) 0%, rgba(1, 145, 135, 0.746) 100%);
  }