.uploadWrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.uploadSection {
    display: flex;
    align-items: center;
}

.carImage {
    height: 150px;
    width: 150px;
}

.uploadIcon {
    font-size: 40px !important;
    color: #62abff;
    margin-right: 15px;
  }
  .message {
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
  }

.uploadBtn {
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    background-color: rgba(46, 125, 50, 0.9);
    transition: background-color 0.3s;
    max-height:60px;
    text-transform: uppercase;
  }
  .uploadBtn:hover {
    background-color: rgba(46, 125, 50, 1);
  }