
/* user part */

.userWrapper {
  margin: 1rem 0 1rem 0;
}

.userData {
  padding: 5px;
}

.userUpdate {
  display: grid;
  place-items: end;
}


@media (min-width: 900px)  {
  .userImg {
    min-height: 16rem;
  }
  .userInfo {
    min-height: 16rem;
  }
}